            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
                color: #F1923D;
                font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
                text-align: center;
            }
            
            ul {
                list-style: none;
                font-size: 700;
                font-style: italic;
            }
            
            a {
                text-decoration: none;
                color: #ECE2D4;
            }
            
            body {
                background-color: #2F312E;
            }
            
            main {
                display: flex;
                justify-content: center;
            }
            
            main .left {
                width: 50%;
                height: width;
                align-self: center;
                justify-self: flex-end;
            }
            
            main .rigth {
                width: 50%;
                height: width;
            }
            
            main .left img {
                width: 75%;
                height: calc(7% + var(--img-height));
            }
            
            header {
                display: flex;
                border-radius: 10px;
                border: 1px solid #46788A;
                justify-content: space-around;
                padding: 5px;
                background-color: #46788A;
                margin: 25px;
            }
            
            header ul a {
                transition: 300ms;
            }
            
            header ul a:hover {
                color: #F1923D;
            }
            
            .backgroungHeader .sideA {
                width: 50%;
                justify-content: flex-start;
                padding: 10px 0 10px 28px;
                display: flex;
                flex-direction: row;
            }
            
            .backgroungHeader .sideB {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: end;
            }
            
            .backgroungHeader .sideB ul a {
                padding: 45px;
            }
            
            .backgroungHeader img {
                width: 35px;
            }
            
            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80%;
                padding: 5% 0% 5% 0%;
            }
            
            .container.name h1 {
                font-size: 60px;
            }
            
            #about p {
                max-width: 600px;
                margin: 0 auto;
                text-align: justify;
            }
            
            div form {
                width: 100%;
            }
            
            .form input {
                width: 70%;
                padding: 5px 5px;
                border: none;
                border-radius: 5px 0px 0px 5px;
                align-items: center;
            }
            
            .form button {
                width: 25%;
                padding: 5px 10px;
                background-color: orange;
                color: #2F312E;
                font-weight: 600;
                border: none;
                cursor: pointer;
                transition: 300ms;
                border-radius: 0px 5px 5px 0px;
                border-left: -5px;
                margin-top: 20px;
            }
            
            .form button:hover {
                background-color: #2F312E;
                color: #ECE2D4;
            }
            
            #arrow {
                font-size: 30px;
                cursor: pointer;
                color: red;
                animation: blink 1s steps(5, start) infinite;
            }
            
            @keyframes bllink {
                to {
                    visibility: hidden;
                }
            }
            
            div.containerBaseBoard {
                width: 100%;
                height: 100px;
                background-color: #46788A;
                display: flex;
                flex-direction: row-reverse;
            }
            
            footer img#logoVtex {
                vertical-align: auto;
                padding: 3%;
            }
            
            footer img#logoHC {
                vertical-align: bottom;
                padding: 2%;
            }
            
            .rotate {
                transform: rotate(180deg);
                transition: 300ms;
            }
            
            .active {
                display: block !important;
                display: flex;
            }
            
            #animation {
                transition: 300ms;
            }
            
            @media only screen and (max-width: 480px) {
                header ul a:hover {
                    color: red;
                }
                body {
                    background-color: red;
                }
            }